<div class="panel panel-default">
	<div class="panel-heading">Edit pin</div>

<%= render 'form' %>

<div class="panel-footer"><%= link_to 'Show', @pin %> |
<%= link_to 'Back', pins_path %></div>
</div>
