<div class="panel panel-default">
  <div class="panel-heading">Configuration</div>
  <div class="panel-body">

    <%= link_to 'Five minutes button',  edit_bot_configuration_path(@config.bot, @config, form: :fivemin), class: "btn btn-primary" %>
  </div>
  <div class="panel-footer">
    <%= link_to "Main page", root_path %> |
    <%= link_to "Bots", bots_path %> |
    <%= link_to "Buildings", bot_buildings_path %>
  </div>
</div>
