<div class="panel panel-default">
	<div class="panel-heading">Edit bot</div>

<%= render 'form' %>

	<div class="panel-footer">
		<%= link_to 'Show', bot_path(@bot) %> |
		<%= link_to 'Back', bots_path %>
	</div>
</div>
