<div class="panel panel-default">
	<div class="panel-heading">Edit bot</div>

<%= render params[:form] || 'form' %>

	<div class="panel-footer">
		<% if params[:form] == nil %>
			<%= link_to 'Show', bot_path(@bot) %> |
		<% end %>
		<%= link_to 'Back', bot_back_path(@bot) %>
	</div>
</div>
