<div class="panel panel-default">
	<div class="panel-heading">Your bot</div>
	<div class="panel-body">
		<p>
  			<strong>Name:</strong>
  			<%= @bot.name %>
		</p>
	</div>

	<div class="panel-footer">
		<%= link_to 'Edit', edit_bot_path(@bot, form: :form) %> | 
		<%= link_to 'Back', bots_path %>
	</div>
</div>
